@model List<Coffee>
<form asp-method = "post" asp-action="index" asp-controller="Coffee">
    <label for="Name">Enter name:</label>
    <input type ="text" name="Name" id="Name"/>

    <label for="Description">Enter description:</label>
    <input type="text" name="Description" id="Description"/>

    <label for="Price">Enter price:</label>
    <input type="text" name="Price" id="Price"/>

    <label for="Category">Enter category:</label>
    <input type="text" name="Category" id="Category"/>

    <input type ="submit"/>
</form>

<ul>
    @{
        foreach(Coffee c in Model)
        {
            <li><a asp-action="Details" asp-route-id="@c.Id">@c.Id</a></li>
        }
    }
</ul>